<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/404.css">

</head>

<body>


    <div class="container">

        <h1 class="text">404</h1>

        <div class="content">
            <p>The page you are looking for doesn't exist.</p>
            <a href="/" class="btn">go back to home</a>
        </div>
    </div>

    <script>

        let container = document.querySelector('.container')
        let text = document.querySelector('.text');

        container.addEventListener('mousemove', (e) => {

            var x = (window.innerWidth / 2 - e.pageX) / 10;
            var y = (window.innerHeight / 2 - e.pageY) / 10;

            text.style.transform = `translateX(${x}px) translateY(${y}px)`;

        })

    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

</body>

</html>