.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container .ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    height: 4rem;
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    /* border-bottom: 4px solid lightgray; */
    margin: 0 auto;
}

.product-title {
    width: 160px;
    margin: 0 auto;
}

.product-price {
    /* width: 45px; */
    margin: 0 auto;
}

.product-quantity {
    /* width: 45px; */
    margin: 0 auto;
}

.product-total {
    /* width: 45px; */
    margin: 0 auto;
}

.price {
    width: 15%;
    /* border-bottom: 4px solid lightgray; */
    display: flex;
    align-items: center;
    align-content: center;
}

.quantity {
    width: 30%;
    /* border-bottom: 4px solid lightgray; */
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.total {
    width: 10%;
    /* border-bottom: 4px solid lightgray; */
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.product {
    width: 45%;
    /* border-bottom: 4px solid lightgray; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    justify-items: center;
    align-content: center;
}

.product ion-icon {
    cursor: pointer;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}

.btn {
    position: relative;
    top: 5rem;
    left: 4rem;
}